* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/cloud.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  min-width: 50%;
  padding: min(1em, 40px);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 9);
  color: #fff;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  overflow: auto;
  
}

.container h2 {
  font-size: 5vw;
  border-bottom: 2px solid #fff;
  text-align: center;
  margin: 0 0 20px 0;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.container li {
  font-size: 1.3rem;
  margin-bottom: .9em;
}

input[type="text"] {
  width: 80%;
  padding: min(.1em, 10px);
  margin: 10px 0;
  font-size: 20px;
}

.container button {
  padding: 10px 20px;
  font-size: 20px;
  background: #fff;
  color: rgb(127, 154, 190);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

ul {
  position: relative;
}

.container ul li .delBtn {
  background: transparent;
  color: red;
  height: 15px;
  width: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  transition: 3s;
}


.container ul li .delBtn:hover {
 height: 40px;
  border: none;
}

.container  .addBtn {
  background: #25e225;
  color: #fff;
  font-weight: bold;
  border: 2px solid;
  border-image: linear-gradient(to right, #030e03, red) 1;
  transition: 3s;
  
}

.container  .addBtn:hover {
  background: #25e225b9;

}
.container .addBtn:active {
  background: #25e225;
  color: #fff;
  font-weight: bold;
  border: 2px solid;
  border-image: linear-gradient(to right, #030e03, red) 1;
  transition: 3s;
}
#addList {
  text-align: center;
  text-transform: capitalize;
}

