body {
  background: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 650px;
  padding: 40px;
  background: rgb(127, 154, 190);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 9);
  color: #fff;
}

.container h2 {
  font-size: 2.5em;
  border-bottom: 2px solid #fff;
  text-align: center;
  margin: 0 0 20px 0;
}

.container li {
  font-size: 30px;
  margin-bottom: .5em;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
}

.container button {
  padding: 10px 20px;
  font-size: 20px;
  background: #fff;
  color: rgb(127, 154, 190);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  position: relative;
}

.container ul li .delBtn {
  background: transparent;
  color: red;
  height: 35px;
  width: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
}


.container ul li .delBtn:hover {
  background: red;
  color: #fff;
  border: none;
}